
/* selector universal */
*{
    background-color: rgb(242, 73, 242);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}

/* selector ellemen dan descendant selector */
.container h1,h2,h3{
    color: greenyellow;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(22, 17, 17);
    box-shadow: 10px 10px 5px #462746;
}

h3:hover{
    text-decoration: none;
    cursor: pointer;
    color: #ffff;
}
/* selector id */
#font{
    color: rgb(0, 251, 255);
    line-height: 2.5;
    text-decoration: underline;
}

/* selector class */
.mark{
    background-color: aqua;
    
}
/* atribut selector */
input[type="text"] {
    color: red;
}